/autom4te.cache
/build
/cache/html/default
/cache/html/de/messages/README.CONF.txt
/cache/html/de/README.CONF.html
/cache/html/en/messages/README.CONF.txt
/cache/html/en/README.CONF.html
/cache/html/es/messages/README.CONF.txt
/cache/html/es/README.CONF.html
/cache/html/fr/messages/README.CONF.txt
/cache/html/fr/README.CONF.html
/cache/Makefile
/config.guess
/config.log
/config.status
/config.sub
/configure
/conf/Makefile
/conf/wwwoffle.conf.install
/debian/files
/debian/wwwoffle
/debian/wwwoffle.debhelper.log
/debian/wwwoffle.postinst.debhelper
/debian/wwwoffle.postrm.debhelper
/debian/wwwoffle.prerm.debhelper
/debian/wwwoffle.substvars
/doc/fr/wwwoffle.conf.man
/doc/fr/wwwoffle.conf.man.install
/doc/Makefile
/doc/wwwoffle.conf.man
/doc/wwwoffle.conf.man.install
/Makefile
*.o
/src/autoconfig.h
/src/autoconfig.h.in
/src/autoconfig.h.in~
/src/css.c
/src/html.c
/src/htmlmodify.c
/src/Makefile
/src/messages.c
/src/testprogs/Makefile
/src/testprogs/test-doc
/src/testprogs/test-gif
/src/testprogs/test-io
/src/testprogs/test-modify
/src/testprogs/test-msg
/src/vrml.c
/src/wwwoffle
/src/wwwoffle-checkcert
/src/wwwoffled
/src/wwwoffle-tools
/src/xml.c
