<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate, no-transform" />
<meta http-equiv="Content-Language" content="en" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="generator" content="Hyper Estraier" />
<link rel="contents" href="./" />
<link rev="made" href="mailto:hyperestraier-users@list.sourceforge.net" />
<title>Hyper Estraier: a full-text search system for communities</title>
<style type="text/css">html {
  margin: 0em 0em; padding: 0em 0em;
  background: #ffffff none;
}
body {
  margin: 0em 0em; padding: 0em 0em;
  color: #111111;
}
div.estform {
  margin: 0.8em 1.0em; padding: 0em 1.0em;
  background: #eeeeff none; border: solid 1pt #bbbbcc;
  -moz-border-radius: 0.4em;
}
div.form_basic {
  margin: 0.6em 0em 0em 0em; padding: 0em 0em;
  font-size: smaller;
}
div.form_extension {
  margin: 0.5em 0em -0.3em 0em; padding: 0em 0em;
  font-size: smaller;
}
div.estresult {
  margin: 1.0em 1.0em; padding: 0em 0em;
}
div.resinfo {
  text-align: right;
  font-size: smaller;
}
div.hints {
  margin-right: 0.8em; text-align: right;
  font-size: smaller; color: #555555;
}
dl.doc {
  margin: 1.3em 0em;
}
dl.doc dd {
  font-size: smaller; color: #222222;
}
a.doc_title {
  color: #0011ee; text-decoration: underline;
}
a.doc_title:hover {
  color: #0033ff; text-decoration: underline;
}
span.doc_score {
  font-size: smaller; color: #555555;
}
span.doc_score:before {
  content: "(";
}
span.doc_score:after {
  content: ")";
}
span.doc_uri {
  color: #007744;
}
dd.doc_attr {
  margin: 0em 0.8em;
}
span.doc_val {
  color: #111111;
}
dd.doc_text {
  margin: 0em 1.3em;
}
strong.key {
  margin: 0em -0.1em; padding: 0em 0.1em;
  color: #000011;
  -moz-border-radius: 0.3em;
}
strong.key1 { background-color: #ffffcc; }
strong.key2 { background-color: #ffeeee; }
strong.key3 { background-color: #eeeeff; }
strong.key4 { background-color: #eeffdd; }
dd.doc_navi {
  margin: 0em 1.1em;
}
a.detail,a.similar {
  color: #007777; text-decoration: none;
}
a.detail:hover,a.similar:hover {
  color: #0066dd; text-decoration: underline;
}
p.note {
  margin: 3em 1.5em;
  color: #444444;
}
div.paging {
  margin: 2em 1em; text-align: right;
  font-size: smaller;
}
a.navi {
  margin: 0em 0.2em; padding: 0em 0.5em;
  background: #eeeeff none; border: solid 1pt #bbbbcc;
  -moz-border-radius: 0.25em;
  color: #0022aa; text-decoration: none;
}
span.void {
  margin: 0em 0.2em; padding: 0em 0.5em;
  background: #eeeeee none; border: solid 1pt #bbbbcc;
  -moz-border-radius: 0.25em;
  color: #aaaaaa;
  opacity: 0.70;
}
a.pnum {
  margin: 0em -0.05em; padding: 0em 0.1em;
  background: #eeeeff none; border: solid 1pt #bbbbcc;
  -moz-border-radius: 0.25em;
  font-size: smaller; color: #0022aa; text-decoration: none;
}
span.pnow {
  margin: 0em -0.05em; padding: 0em 0.1em;
  background: #ffeedd none; border: solid 1pt #bbbbcc;
  -moz-border-radius: 0.25em;
}
div.estinfo {
  margin: 1.5em 1.0em; padding: 0em 0em; text-align: right;
  font-size: smaller; color: #555555;
  opacity: 0.80;
}
div.logo {
  margin: 4.0em 1em; text-align: center;
}
div.logo h1 {
  color: #000000;
}
div.logo div.caption {
  margin-top: -0.9em;
  color: #222222;
}
div.help {
  margin: 2em 4em; padding: 2em 2em;
  background-color: #eeeeff; border: 2pt solid #ddddee;
  -moz-border-radius: 0.8em;
}
div.help h2 {
  margin-top: 1.2em;
}
div.help p {
  line-height: 145%; text-indent: 0.8em;
}
div.help pre {
  margin: 0em 2em; padding: 0em 0.2em;
  background-color: #ffffff; border: 1pt solid #999999;
  -moz-border-radius: 0.2em;
}
</style>
<script type="text/javascript">function startup(){
  var elem = document.getElementById('phrase');
  if(elem){
    elem.focus();
  }
}
</script>
</head>

<body onload="startup();">

<!--ESTFORM-->

<!--ESTRESULT-->

<!--ESTINFO-->

</body>

</html>
